$color_white: #ffffff;
$color_black: #000000;
$color_lightgray: #F7F7F7;

$primary: #FF6060;

:export {
    color_white: $color_white;
    color_black: $color_black;
    color_lightgray: $color_lightgray;
    primary: $primary;
}