@import './utils/font.scss';

* {
  box-sizing: border-box;
}

.app {
  margin: auto;
  max-width: 1440px;
  width: 100%;
  padding: 2.5em 4em;

  background: #ffffff;

  @media screen and (max-width: 768px) {
    padding: 1.2rem;
  }
  

  .page_container {
    padding: 3rem 0;

    @media screen and (max-width: 768px) {
      padding: 1.2rem 0;
    }

  }
}
