@import './utils/colors.scss';

.dropdown {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;

  &_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    border-radius: 0.5rem;
    color: $color-white;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 1.5rem;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
    }
  }

  &_content {
    color: $primary;
    font-size: 1.3rem;
    overflow: hidden;
    background-color: $color_lightgray;

    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }

    &-closed {
      padding: 0rem;
      padding-top: 0rem;
      max-height: 0rem;
    }

    &-open {
      padding: 1rem;
      padding-top: 1.5rem;
      height: 100%;
    }
  }
}
