@import './utils/colors.scss';

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  height: 209px;

  background-color: $color_black;

  &_logo {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: flex-end;

    :only-child {
      max-height: 50px;

      @media screen and (max-width: 768px) {
        max-height: 2.7rem;
      }
    }
  }

  &_text {
    flex-grow: 1;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    align-items: center;
    text-align: center;

    color: $color_white;

    @media screen and (max-width: 768px) {
      flex-grow: 2;
      font-size: 0.9rem;
    }
  }
}
