@import './utils/colors.scss';

.home {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  @media screen and (max-width: 768px) {
    row-gap: 1.5rem;
  }

  &_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-gap: 3rem;
    padding: 4rem 2.5rem;
    background-color: $color_lightgray;
    border-radius: 25px;

    @media screen and (max-width: 768px) {
      background-color: $color_white;
      padding: 0 0;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
    }

    &_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
