@import './utils/colors.scss';
@import './utils/font.scss';

.host {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-end;

  &_name {
    width: min-content;
    height: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    text-align: right;
    color: $primary;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  &_image {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background: $color_lightgray;
    object-fit: cover;
    @media screen and (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }
}
