@import './utils/colors.scss';

.navigation {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 2em;
  align-items: center;

  &_link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: $primary;

    // display: flex;
    // align-items: flex-end;
    // text-align: right;

    &:visited {
      text-decoration: none;
      color: $primary;
    }    
    
    &:hover {
      text-decoration: underline;
    }
  }
}
